<div class="bootstrap-wrapper">
  <div class="row">
    <div style="width: 100%; display: flex; justify-content: center;">
      <h2  class="heading-black" >Track your personal Portfolio</h2>
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">

          <button mat-raised-button style="background-color: #1A1526;" (click)="openTransactionDialog()">Add Transaction</button>

    </div>
  </div>
<ng-container *ngIf="showChart">
  <div class="row" style="display: flex; justify-content: space-evenly">
      <mat-card  style="margin-top: 50px;border-radius: 16px;background-color: #1A1526; border: 1px solid #434651; height: 350px; width: 550px; margin-left: 20px" >
        <mat-card-header>
          <mat-card-title>Portfolio Earnings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-container"  style="margin-top: 20px; margin-bottom: 20px"></div>
        </mat-card-content>
      </mat-card>

      <mat-card  style="margin-top: 50px;border-radius: 16px;background-color: #1A1526;; border: 1px solid #434651; height: 350px; width: 550px; margin-left: 20px" >
        <mat-card-header>
          <mat-card-title>Intrinsic Value Overview</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div id="chart-container2"  style="margin-top: 20px; margin-bottom: 20px"></div>
        </mat-card-content>
      </mat-card>

    <mat-card  style="margin-top: 50px;border-radius: 16px;background-color: #1A1526; border: 1px solid #434651; height: 350px; width: 550px; margin-left: 20px" >
      <mat-card-header>
        <mat-card-title>Total Portfolio Performance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="chart-container3"  style="margin-top: 20px; margin-bottom: 20px"></div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.symbol }}</td>
    </ng-container>

    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.operationAction }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Buy Price</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.price }} $</td>
    </ng-container>

    <ng-container matColumnDef="picker">
      <th mat-header-cell *matHeaderCellDef>Buy Date</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.date }}</td>
    </ng-container>

    <ng-container matColumnDef="ChangeValue">
      <th mat-header-cell *matHeaderCellDef>Change Value</th>
      <td mat-cell *matCellDef="let transaction" [ngClass]="{'positive-change': transaction.dollarValue >= 0, 'negative-change': transaction.dollarValue < 0}">
        {{ transaction.dollarValue }}  <span *ngIf="transaction.operationAction !== 'SELL'">$</span></td>
    </ng-container>

    <ng-container matColumnDef="PercentChange">
      <th mat-header-cell *matHeaderCellDef>Percent Change</th>
      <td mat-cell *matCellDef="let transaction" [ngClass]="{'positive-change': transaction.percentChange >= 0, 'negative-change': transaction.percentChange < 0}">
        {{ transaction.percentChange  }}  <span *ngIf="transaction.operationAction !== 'SELL'">%</span></td>
    </ng-container>

    <ng-container matColumnDef="chart">
      <th mat-header-cell *matHeaderCellDef>Chart</th>
      <td mat-cell *matCellDef="let transaction">
        <button mat-icon-button (click)="openChart(transaction.symbol)">
          <mat-icon>show_chart</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let transaction">
        <button mat-icon-button (click)="deleteTransaction(transaction)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
