<div class="transaction-dialog-container">
  <h2>Add Transaction</h2>
  <form #transactionForm="ngForm" (ngSubmit)="transactionForm.valid && saveTransaction(ticker.value, parseQuantity(quantity.value), parseFloat(price.value), picker)" >
    <mat-form-field style="display:flex; align-content : center">
      <mat-label>Symbol</mat-label>
      <mat-select placeholder="Select Symbol" #ticker="ngModel" ngModel name="ticker" required>
        <mat-option value="AAPL">AAPL (Apple Inc.)</mat-option>
        <mat-option value="GOOG">GOOGL (Alphabet Inc.)</mat-option>
        <mat-option value="MSFT">MSFT (Microsoft Corporation)</mat-option>
        <mat-option value="AMZN">AMZN (Amazon.com Inc.)</mat-option>
        <mat-option value="META">META (Meta Platforms, Inc.)</mat-option>
        <mat-option value="TSLA">TSLA (Tesla, Inc.)</mat-option>
        <mat-option value="BRK-A">BRK-A (Berkshire Hathaway Inc.)</mat-option>
        <mat-option value="BRK-B">BRK-B (Berkshire Hathaway Inc.)</mat-option>
        <mat-option value="JPM">JPM (JPMorgan Chase & Co.)</mat-option>
        <mat-option value="JNJ">JNJ (Johnson & Johnson)</mat-option>
        <mat-option value="V">V (Visa Inc.)</mat-option>
        <mat-option value="WMT">WMT (Walmart Inc.)</mat-option>
        <mat-option value="PG">PG (Procter & Gamble Company)</mat-option>
        <mat-option value="UNH">UNH (UnitedHealth Group Incorporated)</mat-option>
        <mat-option value="MA">MA (Mastercard Incorporated)</mat-option>
        <mat-option value="NVDA">NVDA (NVIDIA Corporation)</mat-option>
        <mat-option value="HD">HD (The Home Depot, Inc.)</mat-option>
        <mat-option value="PYPL">PYPL (PayPal Holdings, Inc.)</mat-option>
        <mat-option value="DIS">DIS (The Walt Disney Company)</mat-option>
        <mat-option value="BAC">BAC (Bank of America Corporation)</mat-option>
        <mat-option value="VZ">VZ (Verizon Communications Inc.)</mat-option>
        <mat-option value="INTC">INTC (Intel Corporation)</mat-option>
        <mat-option value="CSCO">CSCO (Cisco Systems, Inc.)</mat-option>
        <mat-option value="KO">KO (The Coca-Cola Company)</mat-option>
        <mat-option value="CMCSA">CMCSA (Comcast Corporation)</mat-option>
        <mat-option value="T">T (AT&T Inc.)</mat-option>
        <mat-option value="PEP">PEP (PepsiCo, Inc.)</mat-option>
        <mat-option value="ABBV">ABBV (AbbVie Inc.)</mat-option>
        <mat-option value="PFE">PFE (Pfizer Inc.)</mat-option>
        <mat-option value="ORCL">ORCL (Oracle Corporation)</mat-option>
        <mat-option value="NKE">NKE (NIKE, Inc.)</mat-option>
        <mat-option value="MRK">MRK (Merck & Co., Inc.)</mat-option>
        <mat-option value="CRM">CRM (salesforce.com, inc.)</mat-option>
        <mat-option value="WFC">WFC (Wells Fargo & Company)</mat-option>
        <mat-option value="BA">BA (The Boeing Company)</mat-option>
        <mat-option value="XOM">XOM (Exxon Mobil Corporation)</mat-option>
        <mat-option value="COST">COST (Costco Wholesale Corporation)</mat-option>
        <mat-option value="IBM">IBM (International Business Machines Corporation)</mat-option>
        <mat-option value="DISCA">DISCA (Discovery, Inc.)</mat-option>
        <mat-option value="NFLX">NFLX (Netflix, Inc.)</mat-option>
        <mat-option value="FDX">FDX (FedEx Corporation)</mat-option>
        <mat-option value="GS">GS (The Goldman Sachs Group, Inc.)</mat-option>
        <mat-option value="ABT">ABT (Abbott Laboratories)</mat-option>
        <mat-option value="TMO">TMO (Thermo Fisher Scientific Inc.)</mat-option>
        <mat-option value="MS">MS (Morgan Stanley)</mat-option>
        <mat-option value="CVX">CVX (Chevron Corporation)</mat-option>
        <mat-option value="LMT">LMT (Lockheed Martin Corporation)</mat-option>
        <mat-option value="ADBE">ADBE (Adobe Inc.)</mat-option>
        <mat-option value="SBUX">SBUX (Starbucks Corporation)</mat-option>
        <mat-option value="DHR">DHR (Danaher Corporation)</mat-option>
        <mat-option value="CAT">CAT (Caterpillar Inc.)</mat-option>
        <mat-option value="UPS">UPS (United Parcel Service, Inc.)</mat-option>
        <mat-option value="MMM">MMM (3M Company)</mat-option>
        <mat-option value="AVGO">AVGO (Broadcom Inc.)</mat-option>
        <mat-option value="MO">MO (Altria Group, Inc.)</mat-option>
        <mat-option value="BKNG">BKNG (Booking Holdings Inc.)</mat-option>
        <mat-option value="RTX">RTX (Raytheon Technologies Corporation)</mat-option>
        <mat-option value="SCHW">SCHW (The Charles Schwab Corporation)</mat-option>
        <mat-option value="NOW">NOW (ServiceNow, Inc.)</mat-option>
        <mat-option value="TGT">TGT (Target Corporation)</mat-option>
        <mat-option value="BIIB">BIIB (Biogen Inc.)</mat-option>
        <mat-option value="AABA">AABA (Altaba Inc.)</mat-option>
        <mat-option value="C">C (Citigroup Inc.)</mat-option>
        <mat-option value="BLK">BLK (BlackRock, Inc.)</mat-option>
        <mat-option value="USB">USB (U.S. Bancorp)</mat-option>
        <mat-option value="GM">GM (General Motors Company)</mat-option>
        <mat-option value="FDX">FDX (FedEx Corporation)</mat-option>
        <mat-option value="DAL">DAL (Delta Air Lines, Inc.)</mat-option>
        <mat-option value="LUV">LUV (Southwest Airlines Co.)</mat-option>
        <mat-option value="AAL">AAL (American Airlines Group Inc.)</mat-option>
        <mat-option value="UAL">UAL (United Airlines Holdings, Inc.)</mat-option>
        <mat-option value="AAP">AAP (Advance Auto Parts, Inc.)</mat-option>
        <mat-option value="OXY">OXY (Occidental Petroleum Corporation)</mat-option>
        <mat-option value="MET">MET (MetLife, Inc.)</mat-option>
        <mat-option value="CVS">CVS (CVS Health Corporation)</mat-option>
        <mat-option value="FDX">FDX (FedEx Corporation)</mat-option>
        <mat-option value="LMT">LMT (Lockheed Martin Corporation)</mat-option>
        <mat-option value="HPE">HPE (Hewlett Packard Enterprise Company)</mat-option>
        <mat-option value="PSX">PSX (Phillips 66)</mat-option>
        <mat-option value="SLB">SLB (Schlumberger Limited)</mat-option>
        <mat-option value="WYNN">WYNN (Wynn Resorts, Limited)</mat-option>
        <mat-option value="MGM">MGM (MGM Resorts International)</mat-option>
        <mat-option value="BKR">BKR (Baker Hughes Company)</mat-option>
        <mat-option value="HAL">HAL (Halliburton Company)</mat-option>
        <mat-option value="LVS">LVS (Las Vegas Sands Corp.)</mat-option>
        <mat-option value="USB">USB (U.S. Bancorp)</mat-option>
        <mat-option value="CCL">CCL (Carnival Corporation & Plc)</mat-option>
        <mat-option value="NCLH">NCLH (Norwegian Cruise Line Holdings Ltd.)</mat-option>
        <mat-option value="RCL">RCL (Royal Caribbean Group)</mat-option>
        <mat-option value="MRO">MRO (Marathon Oil Corporation)</mat-option>
        <mat-option value="SLB">SLB (Schlumberger Limited)</mat-option>
        <mat-option value="DVN">DVN (Devon Energy Corporation)</mat-option>
        <mat-option value="XOM">XOM (Exxon Mobil Corporation)</mat-option>
        <mat-option value="APA">APA (APA Corporation)</mat-option>
        <mat-option value="EOG">EOG (EOG Resources, Inc.)</mat-option>
        <mat-option value="COP">COP (ConocoPhillips)</mat-option>
        <mat-option value="FANG">FANG (Diamondback Energy, Inc.)</mat-option>
        <mat-option value="MPC">MPC (Marathon Petroleum Corporation)</mat-option>
        <mat-option value="PSX">PSX (Phillips 66)</mat-option>
        <mat-option value="VLO">VLO (Valero Energy Corporation)</mat-option>
        <mat-option value="NOV">NOV (NOV Inc.)</mat-option>
        <mat-option value="WMB">WMB (The Williams Companies, Inc.)</mat-option>
        <mat-option value="PXD">PXD (Pioneer Natural Resources Company)</mat-option>
        <mat-option value="COG">COG (Cabot Oil & Gas Corporation)</mat-option>
        <mat-option value="OXY">OXY (Occidental Petroleum Corporation)</mat-option>
        <mat-option value="MRO">MRO (Marathon Oil Corporation)</mat-option>
        <mat-option value="DVN">DVN (Devon Energy Corporation)</mat-option>
        <mat-option value="HAL">HAL (Halliburton Company)</mat-option>
        <mat-option value="SLB">SLB (Schlumberger Limited)</mat-option>
        <mat-option value="APA">APA (APA Corporation)</mat-option>
        <mat-option value="EOG">EOG (EOG Resources, Inc.)</mat-option>
        <mat-option value="COP">COP (ConocoPhillips)</mat-option>
        <mat-option value="FANG">FANG (Diamondback Energy, Inc.)</mat-option>
        <mat-option value="MPC">MPC (Marathon Petroleum Corporation)</mat-option>
        <mat-option value="PSX">PSX (Phillips 66)</mat-option>
        <mat-option value="VLO">VLO (Valero Energy Corporation)</mat-option>
        <mat-option value="NOV">NOV (NOV Inc.)</mat-option>
        <mat-option value="WMB">WMB (The Williams Companies, Inc.)</mat-option>
        <mat-option value="PXD">PXD (Pioneer Natural Resources Company)</mat-option>
        <mat-option value="COG">COG (Cabot Oil & Gas Corporation)</mat-option>
        <mat-option value="XAUUSD=X">XAUUSD=X (Gold)</mat-option>
        <mat-option value="XAGUSD=X">XAGUSD=X (Silver)</mat-option>
        <mat-option value="CL=F">CL=F (Crude Oil)</mat-option>
        <mat-option value="NG=F">NG=F (Natural Gas)</mat-option>
        <mat-option value="HG=F">HG=F (Copper)</mat-option>
        <mat-option value="SI=F">SI=F (Silver)</mat-option>
        <mat-option value="GC=F">GC=F (Gold)</mat-option>
        <mat-option value="PL=F">PL=F (Platinum)</mat-option>
        <mat-option value="PA=F">PA=F (Palladium)</mat-option>
        <mat-option value="KC=F">KC=F (Coffee)</mat-option>
        <mat-option value="CC=F">CC=F (Cocoa)</mat-option>
        <mat-option value="SB=F">SB=F (Sugar)</mat-option>
        <mat-option value="ZW=F">ZW=F (Wheat)</mat-option>
        <mat-option value="ZC=F">ZC=F (Corn)</mat-option>
        <mat-option value="ZS=F">ZS=F (Soybeans)</mat-option>
        <mat-option value="ZO=F">ZO=F (Oats)</mat-option>
        <mat-option value="ZL=F">ZL=F (Soybean Oil)</mat-option>
        <mat-option value="ZM=F">ZM=F (Soybean Meal)</mat-option>
        <mat-option value="ZT=F">ZT=F (2-Year Treasury Note Futures)</mat-option>
        <mat-option value="ZF=F">ZF=F (5-Year Treasury Note Futures)</mat-option>
        <mat-option value="ZN=F">ZN=F (10-Year Treasury Note Futures)</mat-option>
        <mat-option value="ZB=F">ZB=F (30-Year Treasury Bond Futures)</mat-option>
        <mat-option value="YM=F">YM=F (E-Mini Dow Jones Industrial Average Futures)</mat-option>
        <mat-option value="ES=F">ES=F (E-Mini S&P 500 Futures)</mat-option>
        <mat-option value="NQ=F">NQ=F (E-Mini Nasdaq 100 Futures)</mat-option>
        <mat-option value="RTY=F">RTY=F (E-Mini Russell 2000 Futures)</mat-option>
        <mat-option value="BZ=F">BZ=F (Brent Crude Oil Futures)</mat-option>
        <mat-option value="NG=F">NG=F (Natural Gas Futures)</mat-option>
        <mat-option value="HG=F">HG=F (Copper Futures)</mat-option>
        <mat-option value="SI=F">SI=F (Silver Futures)</mat-option>
        <mat-option value="GC=F">GC=F (Gold Futures)</mat-option>
        <mat-option value="PL=F">PL=F (Platinum Futures)</mat-option>
        <mat-option value="PA=F">PA=F (Palladium Futures)</mat-option>
        <mat-option value="HG=F">HG=F (High Grade Copper Futures)</mat-option>
        <mat-option value="PL=F">PL=F (Platinum Futures)</mat-option>
        <mat-option value="PA=F">PA=F (Palladium Futures)</mat-option>
        <mat-option value="SB=F">SB=F (Sugar Futures)</mat-option>
        <mat-option value="CC=F">CC=F (Cocoa Futures)</mat-option>
        <mat-option value="KC=F">KC=F (Coffee Futures)</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <input matInput type="number" #quantity  placeholder="Amount" min="1" step="1" required >
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <input matInput type="number"  #price placeholder="Price" required>
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-button-toggle-group  #group="matButtonToggleGroup" [value]="selectedState" (change)="onChange($event)">
        <mat-button-toggle value="{{OperationAction.BUY}}" aria-label="Buy">
          Buy <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="{{OperationAction.SELL}}" aria-label="Sell">
          Sell <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    <div style="text-align : center; margin-top: 15px">
      <button mat-button type="submit" >Add Transaction</button>
    </div>
  </form>
</div>
