<div class="transaction-dialog-container">
  <h2>Add Transaction</h2>
  <form #transactionForm="ngForm" (ngSubmit)="saveTransaction(ticker.value, parseQuantity(quantity.value), parseFloat(price.value), picker)" >
    <mat-form-field style="display:flex; align-content : center">
      <mat-label>Ticker</mat-label>
      <mat-select placeholder="Seleccione un Ticker" #ticker="ngModel" ngModel name="ticker" required>
        <mat-option value="AAPL">AAPL (Apple Inc.)</mat-option>
        <mat-option value="GOOG">GOOGL (Alphabet Inc.)</mat-option>
        <mat-option value="MSFT">MSFT (Microsoft Corporation)</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <input matInput type="number" #quantity  placeholder="Quantity" min="1" required >
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <input matInput type="number"  #price placeholder="Price" required>
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div style="text-align : center; margin-top: 15px">
      <button mat-button type="submit" >Add Transaction</button>
    </div>
  </form>
</div>
