<div class="transaction-dialog-container">
  <h2>Add Transaction</h2>
  <form #transactionForm="ngForm" (ngSubmit)="transactionForm.valid && saveTransaction(ticker.value, parseQuantity(quantity.value), parseFloat(price.value), picker)" >
    <mat-form-field style="display:flex; align-content : center">
      <mat-label>Symbol</mat-label>
      <mat-select placeholder="Select Symbol" #ticker="ngModel" ngModel name="ticker" required>
        <mat-option *ngFor="let symbol of symbols" [value]="symbol.value">{{ symbol.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <input matInput type="number" #quantity  placeholder="Amount" min="1" step="1" required >
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <input matInput type="number"  #price placeholder="Price" required>
    </mat-form-field>
    <mat-form-field style="display:flex; align-content : center">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-button-toggle-group  #group="matButtonToggleGroup" [value]="selectedState" (change)="onChange($event)">
        <mat-button-toggle value="{{OperationAction.BUY}}" aria-label="Buy">
          Buy <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="{{OperationAction.SELL}}" aria-label="Sell">
          Sell <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    <div style="text-align : center; margin-top: 15px">
      <button mat-button type="submit" >Add Transaction</button>
    </div>
  </form>
</div>
