<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-md-6 offset-md-3">
              <mat-card style="background-color: #140F1C; border: 1px solid white; ">
              <div class ="container text-center" style="margin-top: 30px">
                <img ngSrc="../../../assets/add-user.png" width="90" height="90">

              </div>

              <h1 class="text-center" style="margin-top: 15px">Sign Up Here</h1>

              <form class="form" (ngSubmit) = "formSubmit()">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input required [(ngModel)]="user.username" name="username" matInput placeholder="Write your username" >
                  <mat-hint>At least 6 characters</mat-hint>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input required [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Write your Password">
                  <mat-hint>At least 6 characters</mat-hint>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input required [(ngModel)]="user.email" name="email" matInput placeholder="Write your Email">
                </mat-form-field>

                <div class = "container text-center">
                  <button mat-raised-button color="primary">Sign Up</button>
                </div>
              </form>
              <p class="text-center" style="margin-top: 20px; margin-bottom: 25px">
                Already have an account? <a routerLink="/login">Login</a>
              </p>
              </mat-card>
            </div>
        </div>
    </div>
</div>
