<div class="bootstrap-wrapper">
  <div class="row " >
    <div class="col ml10 mt10">

      <app-chart [ticker]="ticker" style="display: flex; justify-content: center;"></app-chart>

    </div>
    <div class="col ml10 mt10">

      <app-chart [ticker]="ticker2" style="display: flex; justify-content: center;"></app-chart>

    </div>
  </div>

  <div class="row " >
    <div class="col ml10 mt10">

      <app-chart [ticker]="ticker3" style="display: flex; justify-content: center;"></app-chart>

    </div>

    <div class="col ml10 mt10">

      <app-chart [ticker]="ticker4" style="display: flex; justify-content: center;"></app-chart>

    </div>
  </div>
  <div class="row " >
    <div class="col ml10 mt10">

      <app-chart [ticker]="ticker5" style="display: flex; justify-content: center;"></app-chart>

    </div>

    <div class="col ml10 mt10">

      <app-chart [ticker]="ticker6" style="display: flex; justify-content: center;"></app-chart>

    </div>
  </div>
</div>

