<div style="width: 100%; display: flex; justify-content: center;">
  <h2  class="heading-black" >Macroeconomic Data</h2>
</div>
<div class="bootstrap-wrapper">
  <div class="row " >
    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker4" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>

    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker5" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>
  </div>
  <div class="row " >
    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker1" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>
    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>
  </div>

  <div class="row " >
    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker2" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>

    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker3" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>
  </div>

  <div class="row " >
    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker6" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>

    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker7" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>
  </div>
  <div class="row " >
    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker8" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>

    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker9" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>
  </div>
  <div class="row " >
    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker10" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>

    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker11" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>
  </div>
  <div class="row " >
    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker12" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>

    <div class="col ml10 mt10">

      <app-charttemplate [ticker]="ticker13" style="display: flex; justify-content: center;"></app-charttemplate>

    </div>
  </div>
</div>
