<mat-card class="card" style="border-radius: 16px;background-color: #140F1C; border: 1px solid #434651;">
  <mat-card-header >
    <button mat-icon-button color="primary" (click)="addInput()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="card-content">
    <form [formGroup]="myForm" class="form">
      <div formArrayName="inputs">
        <div class="input-row">
          <div *ngFor="let input of inputsArray.controls; let i = index" [formGroupName]="i" class="input-field">
            <mat-form-field>
              <mat-select placeholder="Select Symbol" [formControlName]="'valor'">
                <mat-option *ngFor="let symbol of symbols" [value]="symbol.value">{{ symbol.label }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button *ngIf="inputsArray.length > 2" mat-icon-button color="warn" class="delete-button" (click)="removeInput(i)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
      <button mat-raised-button color="primary" (click)="processForm()">Compare</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
