<mat-card class="card" style="border-radius: 16px;background-color: #1A1526; border: 1px solid #434651">
  <mat-card-header >
    <h2 class="heading-black" >Compare And Check Correlation of Any Symbol</h2>

  </mat-card-header>
  <mat-card-content class="card-content">
    <form [formGroup]="myForm" class="form">
      <div formArrayName="inputs">
        <div class="input-row">
          <div *ngFor="let input of inputsArray.controls; let i = index" [formGroupName]="i" class="input-field">
            <mat-form-field>
              <input type="text" placeholder="Select symbol" matInput [formControlName]="'valor'" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let symbol of symbols" [value]="symbol.value">
                  {{ symbol.label }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button *ngIf="inputsArray.length > 2" mat-icon-button class="delete-button" (click)="removeInput(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
        <button *ngIf="inputsArray.length < 5" style="margin-right: 10px" mat-raised-button color="primary" (click)="addInput()">
          Add Symbol
        </button>
        <button style="margin-left: 10px" mat-raised-button color="primary" (click)="processForm()">Compare</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
