<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt10">
      <div class="col-md-6 offset-md-3">
        <mat-card style="border-radius: 16px;background-color: #1A1526; border: 1px solid #434651">
          <div class = "container text-center mt10" >
            <img src="../../../assets/usuario.png" width="125" height="125">
          </div>

          <h1 class="text-center">Log in</h1>

          <form class="form" (ngSubmit) = "onSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input [(ngModel)] = "loginForm.username" required name="username" matInput placeholder="Write your username" >

            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input [(ngModel)] = "loginForm.password" required name="password" type="password" matInput placeholder="Write your Password">

            </mat-form-field>

            <div class = "container text-center mb10">
              <button mat-raised-button color="primary">Log in</button>
            </div>
          </form>
          <p class="text-center" style="margin-bottom: 25px">Don't have an account? <a routerLink="/signup">Register</a></p>
        </mat-card>
      </div>
    </div>
  </div>
</div>

