<div class="search-container">
  <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Symbol</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Symbol"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of options; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button mat-flat-button type="button" style = "margin-left: 20px" (click)="getValue()">Add</button>
  </form>
</div>
<ng-container *ngIf="showChart">
  <div class="bootstrap-wrapper" *ngFor="let inputValue of inputValues">
    <div class="row " >
      <div class="col ml10 mt10">

        <app-chart [ticker]="inputValue" style="display: flex; justify-content: center;"></app-chart>
        <div style="text-align: center; margin-top: 10px">
          <button mat-button color="warn"   (click)="deleteEntry(inputValue)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
