<div style="width: 100%; display: flex; justify-content: center;">
  <h2  class="heading-black" >Create your own watch list!</h2>
</div>
<div class="search-container">
  <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Symbol</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Symbol"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let symbol of symbols" [value]="symbol.value">{{ symbol.label }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-flat-button type="button" style = "margin-left: 20px" (click)="getValue()">Add</button>
  </form>
</div>
<ng-container *ngIf="showChart">
  <div class="bootstrap-wrapper">

  <div class="row" style="display: flex; justify-content: space-evenly">
    <div *ngFor="let inputValue of inputValues">

      <app-chart [ticker]="inputValue" style="display: flex; justify-content: center; margin-top: 15px"></app-chart>

    <div style="text-align: center; margin-top: 10px">
      <button mat-icon-button  (click)="deleteEntry(inputValue)"><mat-icon>delete</mat-icon></button>
    </div>
    </div>
  </div>
  </div>
    \
</ng-container>
