<mat-toolbar color ="primary">
  <a [routerLink]="'/'" mat-icon-button class="example-icon" arial-label="Example icon">
  <mat-icon>home</mat-icon>
  </a>
  <span>Macroeconomy</span>
  <span class="example-spacer"></span>
  <a [routerLink]="'/login'" mat-icon-button class="example-icon" arial-label="Example icon">
  <mat-icon>login</mat-icon>
  </a>
  <a [routerLink]="'/signup'" mat-icon-button class="example-icon" arial-label="Example icon">
  <mat-icon>person_add</mat-icon>
  </a>
</mat-toolbar>
