<mat-toolbar style ="background-color: #140F1C">


  <mat-toolbar-row>
    <a [routerLink]="'/'"><img Src="assets/financifywhite.png"  width="133" height="40" /></a>

    <nav>

      <button style="margin-left: 20px; background-color: #140F1C" mat-flat-button [routerLink]="'/macro'">Macro</button>
      <button mat-flat-button style ="background-color: #140F1C" [routerLink]="'/index'">Indexes</button>
      <button mat-flat-button style ="background-color: #140F1C" [routerLink]="'/forex'">Forex</button>
      <button mat-flat-button style ="background-color: #140F1C" [routerLink]="'/stock'">Stocks</button>
      <button mat-flat-button style ="background-color: #140F1C" [routerLink]="'/commodities'">Commodities</button>
      <button mat-flat-button style ="background-color: #140F1C" [routerLink]="'/watchlist'">Watch List</button>
      <button mat-flat-button style ="background-color: #140F1C" [routerLink]="'/portfolio'">Portfolio</button>

    </nav>
    <span class="example-spacer"></span>

    <a *ngIf = "!login.isLoggedIn()" [routerLink]="'/login'" mat-icon-button class="example-icon" arial-label="Example icon">
      <mat-icon>account_circle</mat-icon>
    </a>

    <a *ngIf = "login.isLoggedIn()"
       (click) = "login.logOut()" mat-icon-button class="example-icon mr10 ml10" arial-label="Example icon">
      <mat-icon>logout</mat-icon>
    </a>

  </mat-toolbar-row>

</mat-toolbar>
