<div class="bootstrap-wrapper">
  <div class="row mt10 " >
    <div class="col ml10">

      <app-chart [ticker]="ticker" style="align-content: center"></app-chart>

    </div>
    <div class="col ml10">

      <app-chart [ticker]="ticker2"></app-chart>

    </div>
  </div>

  <div class="row mt10" >
    <div class="col ml10 mt10">

      <app-chart [ticker]="ticker3"></app-chart>

    </div>

    <div class="col ml10 mt10">

      <app-chart [ticker]="ticker4"></app-chart>

    </div>
  </div>

</div>

