<!doctype html>
<html lang="en">
<head>
  <title>Finanzify</title>
  <link rel="stylesheet" href="css/default.css" id="theme-color">
</head>
<body>

<section class="pt-6 pb-1" id="features">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="heading-black" style="margin-top: 150px">Thanks for visiting Financify!</h2>
        <p class="text-muted lead">Finanzify is a platform that helps normal people to visualize all data
          about our world economy in easy way.</p>
      </div>
      <div class="col text-center" style="margin-left: 50px">
      <img ngSrc="assets/Ilustration2.png" alt="" height="477" width="610" priority/>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 mx-auto">
        <div class="row feature-boxes">
          <div class="col-md-6 box">
            <div class="icon-box box-primary">
              <div class="icon-box-inner">
                <mat-icon>show_chart</mat-icon>
              </div>
            </div>
            <h5>Check Macroeconomy Data</h5>
            <p class="text-muted">With our web app you can check relevant data about countries like GDP, CPI...</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-success">
              <div class="icon-box-inner">
                <mat-icon>candlestick_chart</mat-icon>
              </div>
            </div>
            <h5>Personal watch list</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in
              nisi commodo, tempus odio a, vestibulum nibh.</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-danger">
              <div class="icon-box-inner">
                <mat-icon>pie_chart</mat-icon>
              </div>
            </div>
            <h5>Track your personal portfolio</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in
              nisi commodo, tempus odio a, vestibulum nibh.</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-info">
              <div class="icon-box-inner">
                <mat-icon>query_stats</mat-icon>
              </div>
            </div>
            <h5>Personal watch list</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in
              nisi commodo, tempus odio a, vestibulum nibh.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 mr-auto">
        <h5>About Finanzify</h5>
        <p class="text-muted">Magnis modipsae que voloratati andigen daepeditem quiate conecus aut labore.
          Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam explabo.</p>
        <ul class="list-inline social social-sm">
          <li class="list-inline-item">
            <a href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-google-plus"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-dribbble"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Help</h5>
        <ul class="list-unstyled">
          <li><a href="#">Support</a></li>
          <li><a href="#">Log in</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-muted text-center small-xl">
        &copy; 2024 Finanzify - All Rights Reserved
      </div>
    </div>
  </div>
</footer>
</body>
</html>

